.user-list table{
    color: white;
    width: 70vw;
    height: 15vh;
}

.mat-raised-button{
    background-color: #2196F3; 
}

.delete{
    background-color: red;
}

.edit{
    background-color: rgb(3,148,135);
}