
  <div class="answer-list">
    <table mat-table [dataSource]="answers" class="mat-table" *ngIf="answers != null && answers!= undefined">
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef> <b>Question</b></th>
        <td mat-cell *matCellDef="let element">{{element.question.question}}</td>
      </ng-container>

      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef> <b>Topic</b></th>
        <td mat-cell *matCellDef="let element">{{element.question.topic}}</td>
      </ng-container>

      <ng-container matColumnDef="askedAt">
        <th mat-header-cell *matHeaderCellDef> <b>Asked At</b></th>
        <td mat-cell *matCellDef="let element">{{element.question.askedDateAndTime | date:'short'}}</td>
      </ng-container>

      <ng-container matColumnDef="askedBy">
        <th mat-header-cell *matHeaderCellDef> <b>Asked By</b></th>
        <td mat-cell *matCellDef="let element">{{element.question.user_question.firstName}}</td>
      </ng-container>
      <ng-container matColumnDef="answer">
        <th mat-header-cell *matHeaderCellDef> <b>Answer</b></th>
        <td mat-cell *matCellDef="let element">{{element.answer}}</td>
      </ng-container>

      <ng-container matColumnDef="answeredDateAndTime">
        <th mat-header-cell *matHeaderCellDef> <b>Answered at</b> </th>
        <td mat-cell *matCellDef="let element">{{element.answeredDateAndTime | date:'short'}}</td>
      </ng-container>

      <ng-container matColumnDef="answeredBy">
        <th mat-header-cell *matHeaderCellDef> <b>Answered By</b> </th>
        <td mat-cell *matCellDef="let element">{{element.user_answer.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef> <b>Approve</b> </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button class="approve_"
            (click)="approveAnswer(element)">Approve</button></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> <b>Delete</b> </th>
        <td mat-cell *matCellDef="let element"><button class="delete" mat-raised-button
            (click)=deleteAnswer(element)>Delete</button></td>
      </ng-container>

      <button mat-raised-button>Add Answer</button>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>