.question-list table{
    color: white;
    width: 60vw;
    height: 15vh;
}

.mat-raised-button{
    background-color: #2196F3; 
}

.approve{
   background-color:rgb(3,148,135);
}

.delete{
    background-color: red;
}